.button {
    font: inherit;
    border: 1px solid #005f5f;
    background: #005f5f;
    color: #fff;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #118488;
    border-color: #118488;
  }
  
  .button:focus {
    outline: none;
  }